.Form {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}

.Form_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  padding: 5px 20px;
  background: white;  
  display: flex;
  flex-direction: column;
  border-radius: 2.7vh;
  border: .8vh solid black;
}

.Form fieldset {
  margin: 20px 0;
}

.Form p {
  display: inline;
}

.closeX {
  font-weight: bold;
  font-size: 3.6vh;
  padding: .1vw;
  margin-top: 1vh;
  margin-left: -.4vh;  
  width: 25px;
  border: none;
  background-color: transparent;
}

.closeX:hover {
    color: rgb(153, 209, 255);
}   

.closeButton {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  width: 90px;
  padding: 5px 14px;
  border-radius: 1vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  border: .4vh solid black;
  background-color: transparent;
}

.closeButton:hover {
  color: rgb(133, 189, 235);
}