.Spotify-search {
    width: 300px;
    height: 42.5px;
    /*height: 300px;*/
    /* temporary code */
    position: absolute;
    top: 100px;
    left: 100px;
    /* end temporary code */
    background-color: #000000
}

.Spotify-search-bar {
    padding: 10px;
}

.Spotify-search-result {
    height: 17.5%;
    background-color: red;
}

label {
    color: #FFFFFF;
}
