.Youtube-search {
    width: 300px;
    height: 42.5px;
    /*height: 300px;*/
    /* temporary code */
    position: absolute;
    top: 100px;
    left: 100px;
    /* end temporary code */
    background-color: #000000
}

.Youtube-search-bar {
    padding: 10px;
}

label {
    color: #FFFFFF;
}
